In [1]:
print("shipra mishra has started learning python")

shipra mishra has started learning python

In [2]:
x=5

In [3]:
print("value of x = ",x)

value of x =  5

In [3]:
l = list(range(20))

In [4]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
l[5:14]

[5, 6, 7, 8, 9, 10, 11, 12, 13]

In [11]:
l[5:18:2]

[5, 7, 9, 11, 13, 15, 17]

In [5]:
l[5:12:2]

[5, 7, 9, 11]

In [6]:
l[5:18:3]

[5, 8, 11, 14, 17]

In [ ]:
a = 10

In [ ]:
b = 15

In [10]:
a==b

False

In [11]:
a>b

False

In [12]:
a<b

True

In [13]:
b>a

True

In [14]:
list_1 = [2,3,4,5,6,7,8,9,10]
# select one element in the list (even number)
for number in list_1:
    if number % 2 == 0:
        print("even numbers are", {number})
    else:
        print("odd numbers are",{number})

even numbers are {2}
odd numbers are {3}
even numbers are {4}
odd numbers are {5}
even numbers are {6}
odd numbers are {7}
even numbers are {8}
odd numbers are {9}
even numbers are {10}

In [15]:
numbers = [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]
print("List of numbers:")
print(numbers)
print("\nList of even numbers:")
evenNumbers = list(filter(lambda x: x%2 == 0, numbers))
print(evenNumbers)
print("\nList Odd numbers:")
oddNumbers = list(filter(lambda x: x%2 != 0, numbers))
print(oddNumbers)

List of numbers:
[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

List of even numbers:
[22, 44, 66, 88, 100]

List Odd numbers:
[11, 33, 55, 77, 99]

In [3]:
df = spark.createDataFrame([
("2023-01-01 10:10:10",),
("2023-02-01 11:11:11",),
("2023-03-01 12:12:12",),
("2023-03-31 11:11:11",),
("2023-01-31 11:11:11",),
("2023-02-01 11:11:11",)], ["timestamp"])
df.select(df.timestamp,trunc(df.timestamp, 'year').alias('year')).show()

NameError: name 'spark' is not defined